

#txt {
    margin-bottom: 20px;
    width: 400px;
    height: 50px;
    padding-left: 20px;
    font-size: 30px;
    border: 10px outset black;
}

div {
    
}

.top {
    margin-left: 35%;
}

.btn {
    width: 97px;
    height: 30px;
    color: blue;
    border: 5px outset black;
}

.radio {
 margin-left: 35%   
}

#equal {
     width: 97px;
    height: 30px;
    color: blue;
    border: 5px outset black;
}

